<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
</head>
<body>
    <nav >
        <a href="index" style="margin-left: 10px;">Главная</a>
        <a href="auth" style="margin-left: 10px;">Профиль</a>
        <a href="bookings" style="margin-left: 10px;">Мои заявки</a>
        <a href="create_booking" style="margin-left: 10px;">Создать заявку</a>
        <a href="admin" style="margin-left: 10px;">Админ панель</a>
    </nav>
    Главная
</body>
</html>